<div class="container d-flex justify-content-center">
  <div class="row">
    <p class="text-center">
      みなさん、こんにちは、こんばんは。</br>
      最近笑っていますか？</br>
      笑いはすぐそこに落ちています。</br>
      それに気づくか気づかないかの違いです。</br>
      1日1つのお笑いを。</br>
    </p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-4 d-flex align-items-center justify-content-center border border-secondary rounded">
      飲み会で話すことがない
    </div>
    <div class="col-lg-4 d-flex align-items-center justify-content-center border border-secondary rounded">
      毎日愚痴ばかり
    </div>
    <div class="col-lg-4 d-flex align-items-center justify-content-center text-center border border-secondary rounded">
      おもしろい話をいっぱい持っている同僚に</br>
      嫉妬してしまう
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <div class="row">
    <p class="text-center">
      あなたにこそ使っていただきたいアプリです。</br>
      毎日ひとつ、ご自身の経験でおもしろかったこと・楽しかったこと・クスッと笑えたことを記録してみてください。</br>
      <%= link_to "はじめる", diarys_path, class: "btn btn-primary" %></br>
    </p>
  </div>
</div>





