<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="row">
    <h1 class="bg-dark text-light text-center">
      楽しいから笑うのではない、笑うから楽しいのだ</br>
      by William James</br>
    </h1>
  </div>
</div>

<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="row">
    <h4 class="text-center">
      <%= link_to "NEXT", about_path, class: "btn btn-dark" %>
    </h4>
  </div>
</div>